MultiplayerServerSocket/Logs/AssetImportWorker0.log
MultiplayerServerSocket/Logs/AssetImportWorker1.log
MultiplayerServerSocket/Logs/shadercompiler-AssetImportWorker0.log
MultiplayerServerSocket/Logs/shadercompiler-UnityShaderCompiler.exe1.log
MultiplayerServerSocket/Logs/shadercompiler-UnityShaderCompiler.exe2.log
MultiplayerServerSocket/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
MultiplayerServerSocket/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MultiplayerServerSocket/ProjectSettings/SceneTemplateSettings.json
MultiplayerServerSocket/Temp/FSTimeGet-2fc762f8463843242a94da239a8658b0
MultiplayerServerSocket/Temp/FSTimeGet-326d55961eda8024c9b46bee5f10cd4b
MultiplayerServerSocket/Temp/FSTimeGet-ba745b3c034456e418e5cdcee7f5fa34
MultiplayerServerSocket/Temp/PropertyDatabase_1265138678
MultiplayerServerSocket/Temp/PropertyDatabase_2066312223
MultiplayerServerSocket/Temp/UnityLockfile
MultiplayerServerSocket/Temp/__Backupscenes/0.backup
Server/.vs/slnx.sqlite
Server/.vs/VSWorkspaceState.json
Server/.vs/Server/v16/.suo
Server/ServerSocketProgram/ServerSocketProgram.sln
Server/ServerSocketProgram/.vs/slnx.sqlite
Server/ServerSocketProgram/.vs/VSWorkspaceState.json
Server/ServerSocketProgram/.vs/ServerSocketProgram/DesignTimeBuild/.dtbcache.v2
Server/ServerSocketProgram/.vs/ServerSocketProgram/v16/.suo
Server/ServerSocketProgram/ServerSocketProgram/Client.cs
Server/ServerSocketProgram/ServerSocketProgram/Program.cs
Server/ServerSocketProgram/ServerSocketProgram/Server.cs
Server/ServerSocketProgram/ServerSocketProgram/ServerSocketProgram.csproj
Server/ServerSocketProgram/ServerSocketProgram/bin/.vs/slnx.sqlite
Server/ServerSocketProgram/ServerSocketProgram/bin/.vs/VSWorkspaceState.json
Server/ServerSocketProgram/ServerSocketProgram/bin/.vs/bin/v16/.suo
Server/ServerSocketProgram/ServerSocketProgram/bin/Debug/netcoreapp3.1/ServerSocketProgram.deps.json
Server/ServerSocketProgram/ServerSocketProgram/bin/Debug/netcoreapp3.1/ServerSocketProgram.dll
Server/ServerSocketProgram/ServerSocketProgram/bin/Debug/netcoreapp3.1/ServerSocketProgram.exe
Server/ServerSocketProgram/ServerSocketProgram/bin/Debug/netcoreapp3.1/ServerSocketProgram.pdb
Server/ServerSocketProgram/ServerSocketProgram/bin/Debug/netcoreapp3.1/ServerSocketProgram.runtimeconfig.dev.json
Server/ServerSocketProgram/ServerSocketProgram/bin/Debug/netcoreapp3.1/ServerSocketProgram.runtimeconfig.json
Server/ServerSocketProgram/ServerSocketProgram/obj/project.assets.json
Server/ServerSocketProgram/ServerSocketProgram/obj/project.nuget.cache
Server/ServerSocketProgram/ServerSocketProgram/obj/ServerSocketProgram.csproj.nuget.dgspec.json
Server/ServerSocketProgram/ServerSocketProgram/obj/ServerSocketProgram.csproj.nuget.g.props
Server/ServerSocketProgram/ServerSocketProgram/obj/ServerSocketProgram.csproj.nuget.g.targets
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/apphost.exe
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.AssemblyInfo.cs
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.AssemblyInfoInputs.cache
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.assets.cache
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.csproj.AssemblyReference.cache
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.csproj.CoreCompileInputs.cache
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.csproj.FileListAbsolute.txt
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.dll
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.GeneratedMSBuildEditorConfig.editorconfig
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.genruntimeconfig.cache
Server/ServerSocketProgram/ServerSocketProgram/obj/Debug/netcoreapp3.1/ServerSocketProgram.pdb
Server/ServerSocketProgram/ServerSocketProgram/obj/Release/netcoreapp3.1/ServerSocketProgram.AssemblyInfo.cs
Server/ServerSocketProgram/ServerSocketProgram/obj/Release/netcoreapp3.1/ServerSocketProgram.AssemblyInfoInputs.cache
Server/ServerSocketProgram/ServerSocketProgram/obj/Release/netcoreapp3.1/ServerSocketProgram.assets.cache
Server/ServerSocketProgram/ServerSocketProgram/obj/Release/netcoreapp3.1/ServerSocketProgram.GeneratedMSBuildEditorConfig.editorconfig
MultiplayerServerSocket/GameServer/.vs/GameServer/v16/.suo
MultiplayerServerSocket/Logs/AssetImportWorker0-prev.log
MultiplayerServerSocket/Logs/AssetImportWorker1-prev.log
MultiplayerServerSocket/Temp/FSTimeGet-c73f1b0777075ba4f8d265abd148d04d
